* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #f4e7d3;
}

/* Header and navigation bar*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    align-items: center;
    background-color: #f4e7d3;
}

.navbar{
    padding: 10px 20px;
    background-color: #f4e7d3;
}

.logo {
    font-size: 2rem;
    height: 50px;
}

.logo:hover {
    cursor: default;
}

.navbar-nav{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-item{
    margin: 0 50px;
}

.navbar-brand{
    font-family: "Jacques Francois", serif;
    color: #000000;
}

.nav-link{
    font-family: "Jacques Francois", serif;
    position: relative;
    transition: all 300ms ease;
    text-decoration-color: #ffffff;
}

.nav-link::after {
    content: ''; /* Nécessaire pour créer un élément pseudo */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Épaisseur de la ligne */
    background-color: #000; /* Couleur de la ligne */
    transform: scaleX(0); /* Commence avec une échelle de 0 (invisible) */
    transition: transform 0.3s ease; /* Transition pour l'effet progressif */
}

.nav-link:hover::after {
    transform: scaleX(1); /* Échelle à 1 lors du survol */
}

@media (max-width: 768px) {
    .nav-item{
        margin: 0;
    }

    .nav-link{
        width: fit-content;
    }

    .nav-link::after {
        content: ''; /* Nécessaire pour créer un élément pseudo */
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px; /* Épaisseur de la ligne */
        background-color: #000; /* Couleur de la ligne */
        transform: scaleX(0); /* Commence avec une échelle de 0 (invisible) */
        transition: transform 0.3s ease; /* Transition pour l'effet progressif */
    }

    .nav-link:hover::after {
        transform: scaleX(1); /* Échelle à 1 lors du survol */
    }
}

@media (max-width: 480px) {
    .nav-item{
        margin: 0;
    }

    .nav-link{
        width: fit-content;
    }

    .nav-link::after {
        content: ''; /* Nécessaire pour créer un élément pseudo */
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px; /* Épaisseur de la ligne */
        background-color: #000; /* Couleur de la ligne */
        transform: scaleX(0); /* Commence avec une échelle de 0 (invisible) */
        transition: transform 0.3s ease; /* Transition pour l'effet progressif */
    }

    .nav-link:hover::after {
        transform: scaleX(1); /* Échelle à 1 lors du survol */
    }
}